name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build project
      run: |
        cmake -S . -B ./build `
          -G Ninja `
          -DCMAKE_BUILD_TYPE=Release `
          -DCMAKE_EXPORT_COMPILE_COMMANDS=OFF
        
        cmake --build ./build --config Release

    - uses: actions/upload-artifact@v4
      with:
        name: AudioPlaybackConnector.exe
        path: build/build/AudioPlaybackConnector.exe
        
